body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tabs-container {
    display: flex;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.tab:hover {
    background-color: #2980b9;
}

.content {
    display: none;
    padding: 20px;
    background-color: #fff;
}
